@font-face {
    font-family: WhiteRabbit;
    src: url('fonts/whitrabt.ttf') format('truetype');
}

h1, h2, h3{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: teal;
}
a:active{
    color: rgba(178, 112, 204, 0.671);
}
a:hover{
    color: rgba(120, 62, 143, 0.74);
}
button{
    background:  teal;
}
button:hover{
    cursor: pointer;
    background:  rgba(120, 62, 143, 0.74);
}

body{
    color: white;
    background-color: rgba(28, 33, 37, 0.955);
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: VT323, monospace;
}
/* #body-header-wrapper{
    display: flex;
} */
/* HEADER */
#header{
    width: 100vw;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    background-color: rgba(28, 33, 37, 1);
    z-index: 99;
}


#header h2{
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: .75em;
}

nav a{
    padding-right: 1em;
}

/* BODY */
#body{
    position: relative;
    top: 10vh;
    width: 80vw;
    margin: auto;
    text-align: center;
}
#body div{
    padding-top: 0;
}
#about-me{
    height: 90vh
}
#work, #skills{
    height: 100vh;
}
#about-me, #work, #skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

#about-content{
    width: 45vw;
    
}
#about-text{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-content: space-around;
}
#about-text p{
    max-width: 20vw;
}
#body h2{
    font-size: .75em;
}
#body p{
    font-size: 1em;
}
#skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}
#skills-title{
    grid-column-start: 1;
    grid-column-end: 3;
}
#skills-list li{
    list-style: circle;
}
#footer{
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}