
@font-face {
    font-family: WhiteRabbit;
    src: url('fonts/whitrabt.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

a{
    color: white;
}
a:hover{
    color: rgb(212, 10, 20);
}
.button{
    background:  teal;
}
.button:hover{
    cursor: pointer;
    background:   rgba(37, 133, 13, 0.74);
}

body{
    color:  rgba(11, 236, 236, 0.74);
    background-color: rgba(76, 80, 84, 0.955);
    margin: 0;
    padding: 0;
    font-size: 1vh;
    font-family: 'Josefin Sans', sans-serif;
}
/* .body-header-wrapper{
    display: flex;
} */
/* HEADER */
.header{
    width: 100vw;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    background-color: rgb(92, 95, 95);
    z-index: 99;
}

.header h2{
    margin-left: .25rem;
    margin-right: .25rem;
}

.header nav a{
    padding-right: .1rem;
}

/* BODY */
.body{
    position: relative;
    top: 10vh;
    width: 80vw;
    margin: auto;
    text-align: center;
}
.body div{
    padding-top: 0;
}
.about-me{
    height: 90vh
}
.work, .skills{
    height: 100vh;
}
.about-me, .work, .skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px dashed rgba(163, 157, 149, 0.918);
}

.about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    
}
.about-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.about-text p{
    max-width: 25em;
    display: inline-block;
}

.work ul{
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}
.skills-title{
    grid-column-start: 1;
    grid-column-end: 3;
}
.skills ul{
    min-height: 55vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.skills-list li{
    list-style: circle;
    list-style-position: inside;
}
.skills-list li:hover{
    cursor: pointer;
}
.response{
    display: block;
}

.footer{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 800px){
    .about-text{
        flex-direction: column;
    }
    .about-text p{
        max-width: 90vw;
    }
    .skills{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 3fr;
    }
    .skills-title{
        grid-column-end: 2;
    }
}

.isActive{
    border-right: red 3px solid;
    font-weight: bold;
}

.treehouse-wrapper ul h3{
    text-decoration-line: underline;
    text-decoration-color: red;
}