/*********Initial Styles***********/
/**************************/
/*Normalize edges*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Set base font size*/
html{
    font-size: 10px;
    overflow-x: hidden;
}
body{
    color:  black;
    background-color: #ebe7e7;
    font-family: 'Josefin Sans', sans-serif;
}

/* Normalize links */
a{
    color: #ebe7e7;
}
a:hover{
    color: rgb(212, 10, 20);
}



/*********Header***********/
/**************************/
.header {
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    height: 10vh;
    background-color: rgb(36, 39, 83);
    z-index: 99;
    color: #ebe7e7;

}
.header-nav{
  height: 5vh;
  color: black;
  background-color:  rgb(36, 39, 83);
  border-bottom: #ebe7e7 1px solid;
  z-index: 99;
  width: 100vw;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ebe7e7;
  box-shadow: 1px 1px 15px #ebe7e7;
}

.header-nav a{
  color: #ebe7e7;
  font-size: 2rem;
  padding-right: 1rem;
}

.sticky{
  position: fixed;
  top: 0;
}
.sticky a{
  font-size: 1.5rem;
}
.header h2{
    font-size: 3rem;
    margin-left: 1rem;
}

.header nav{
    margin-right: 1rem;
}





/*********Body***********/
/**************************/

/***General Body Styles***/
.body{
    position: relative;
    top: 10vh;
    width: 80vw;
    margin: auto;
    text-align: center;
}

.text-block{
    font-size: 2rem;
    line-height: 150%;
}

.main-comp-container{
  height: 100vh;
  border-bottom: 1px #ebe7e7 solid;
}
/********About**********/

.about-container{
    padding-top: 10vh;
    width: 100%;
    background: rgb(89, 90, 107);
    color: #ebe7e7;

}

.about-container h2{
  font-size: 3rem;

}

.about-info{
  max-width: 60vw;
  margin: auto;
  font-size: 2rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-info p{
  border-bottom: 1px #3f0444 solid;
}

/*******Work *******/
.projects-container{
  text-align: center;
  background-color: rgb(181, 181, 181);
}

.projects-container h3{
  padding-top: .5rem;
  font-size: 3rem;
}

.projects-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.project-container{
  height: 80vh;
  width: 80vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-left: 10vw;
  margin-right: 10vw; */
}

.project-links{
  margin-left: 20vw;
  margin-right:20vw;
  display: flex;
  justify-content: space-evenly;
}
.project-container h3{
  font-size: 2.5rem;
}
.project-container h4{
  font-size: 3rem;
}
.project-container p{
  font-size: 1.8rem;
  margin-left: 10vw;
  margin-right: 10vw;
}


.forward{
  height: 5vh;
  width: 5vh;
  position: absolute;
  right: 5vw;
  top: 250vh;
  transition: padding .5s;
}

.back{
  height: 5vh;
  width: 5vh;
  position: absolute;
  left: 5vw;
  top: 250vh;
  transition: padding .5s;
}

.back:hover, .forward:hover{
  cursor: pointer;
}

.back:hover{
  padding-right: 1vw;
}

.forward:hover{
  padding-left: 1vw;
}

.code-link{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-decoration: none;
  transition: text-shadow .5s;
}

.live-link{
  font-size: 2rem;
  font-family: 'Limelight', cursive;
  transition: text-shadow .5s;
}

.live-link:hover, .code-link:link:hover{
  cursor: pointer;
  font-style: italic;
  text-shadow: 1px 1px 10px red;
}

.projects-wrapper span{
  display: inline;
  text-align: center;
}

/*
.projectDisplay-leave{
  opacity: 0;
}

.projectDisplay-leave.projectDisplay-leave-active{
  opacity: 0;

}

.projectDisplay-enter{
  opacity: 0;

}

.projectDisplay-enter.projectDisplay-enter-active{
  opacity: 1;
  transition: opacity .5s;
} */

/******* Skills *******/

.skills-container{
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
  background: rgb(36, 83, 80);
  color: #ebe7e7;
}
.skills{
    border-bottom: 5px dashed rgba(163, 157, 149, 0.918);
    padding-top: 20vh;
    padding-bottom: 10vh;

}

.skills-body-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.skills-list-wrapper{
    width: 20vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.skills-list-wrapper h3{
  padding-bottom: 5vh;
  font-size: 3rem;
}

.active-skill-container{
  width: 60vw;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.active-skill-container ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 2rem;
}

.active-skill-container ul li{
  list-style: none;
  padding-bottom: 1.5rem;
}

.active-skill-container h4{
  padding-bottom: 5vh;
  font-size: 3rem;
}

.skills-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills-list li{
    font-size: 2rem;
    list-style: circle;
    list-style-position: inside;
    padding-bottom: 1.5rem;
    float: left;
}
.skills-list li:hover{
    cursor: pointer;
}

.skills-list:hover li:not(:hover){
    opacity: .5;
}

.skills-descriptions{
    max-width: 35vw;
}

.skills-descriptions div h3{
    font-size: 2.5rem;
}
.skills-descriptions div p{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.response{
    display: block;
}

/*Contact*/
.contact{
  height: 35vh;
}

/*********Footer***********/
/**************************/

.footer{
    border-top: 1px #ebe7e7 solid;
    background: #ebe7e7;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: #ebe7e7;
    background: rgb(54, 54, 54);
}

.footer a{
  color: blue;
}

.footer p{
    padding-right: 10vw;
}

@media only screen and (max-height: 700px){
  .about-container{
    height: 150vh;
  }
  .about-info{
    height: 120vh;
  }
  .about-container h2{
    display: inline;
  }

  .back, .forward{
    top: 300vh;
  }
}

@media only screen and (max-height: 650px){
  .main-comp-container{
    height: 120vh;
  }
  .about-info{
    height: 140vh;
  }
  .about-container{
    height: 170vh;
  }
  .back, .forward{
    top: 360vh;
  }
}
.isActive{
    font-weight: bold;
    text-decoration: underline rgb(212, 10, 20);
}

@media only screen and (max-width: 500px){
  .about-container{
    text-align: center;
  }
  .about-info{
    max-width: 80vw;
    height: 180vh;
  }

  .skills-container{
    height: 150vh;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-between;
  }

  .about-container{
   height: 200vh;
   padding-top: 5vh;
  }

  .back, .forward{
    top: 400vh;

  }

}

.active-skill{
  font-style: italic;
}
